[jinja2: templates/**.html]
encoding = utf-8
domain = templates

[python: **/providers/**/*.py]
encoding = utf-8
domain = providers

[python: tests/i18n/test_data/**.py]
encoding = utf-8
domain = test_i18n

[python: **/tasks/**.py]
encoding = utf-8
domain = messages